@media print, (max-width: 1023px) {

     
    :root {
        --font_size: 16px;
        --font_size_title: 32px;
    }
    .header_callback {
        margin-left: 40px;
    }
    .videos_item-img {
        width: 100%;
        height: auto;
    }

    .first-section_title {
        font-size: 32px;
        margin-bottom: 20px;
    }
    .first-section_text {
        font-size: 22px;
        line-height: 1.5;
        margin-bottom: 25px;
    }
    .block {
        margin-bottom: 70px;
    }
    .course_quote {
        font-size: 24px;
    }
    .example_title,
    .programm_title,
    .internship_title {
        font-size: var(--font_size_title);
        line-height: 1.3;
        margin-bottom: 30px;
    }
    .example_right:before {
        display: none;
    }
    .example:before {
        display: none;
    }
    .example_box {
        flex-direction: column;
    }
    .example_left-title {
        font-size: 28px;
        line-height: 1.3;
    }
    .example_left-title br {
        display: none;
    }
    .example_left-text br {
        display: none;
    }
    .example_left-img {
        margin-left: auto;
        margin-right: auto;
    }
    .example_left {
        text-align: center;
    }
    .example_right {
        margin-top: 25px;
    }
    .example_item:nth-child(1),
    .example_item:nth-child(2),
    .example_item:nth-child(3) {
        transform: rotate(0deg);       
    }
    .example_item span br {
        display: none;
    }
    .example_item {
        margin-right: 0;
        margin-bottom: 15px;
    }
    .example_bottom-item {
        max-width: 100%;
        width: 100%;
    }
    .example_box {
        margin-bottom: 60px;
    }
    .example_bottom-items {
        padding: 30px;
        flex-direction: column;
    }
    .example_bottom-item:nth-child(1) {
        margin-bottom: 50px;
    }
    .example_bottom-item:nth-child(1):before {
        right: 45%;
        transform: rotate(90deg);
        top: calc(100% + 15px);
    }
    .programm_item-title {
        font-size: 24px;
    }
    .programm_item ul li {
        font-size: 18px;
        line-height: 24px;
    }
    .programm_item ul li span {
        font-size: 20px;
    }
    .programm_bottom {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .programm_right {
        justify-content: space-between;
        width: 100%;
    }
    .internship_items > * {
        width: calc(100%/2 - 30px);
        padding: 25px;
    }
    .internship_item-title, 
    .step_item-title,
    .team_item-title {
        font-size: 22px;
    }
    .programm_items > * {
        padding: 25px;
    }
    .step_img {
        padding: 0;
        margin-bottom: 25px;
    }
    .step_items > * {
        width: calc(100%/2 - 30px);
    }
    .step_item-number {
        font-size: 36px;
        line-height: 48px;
        padding-bottom: 10px;
        margin-bottom: 15px;
    }
    .reviews_title,
    .team_title {
        margin-bottom: 30px;
    }
    .reviews_items {
        margin-left: -15px;
        margin-bottom: -15px;
    }
    .reviews_items > * {
        margin-left: 15px;
        margin-bottom: 15px;
        width: calc(100%/3 - 15px);
        padding: 10px;
        border-radius: 15px;
    }
    .callback_title {
        font-size: 28px;
        line-height: 36px;
        margin-bottom: 25px;
    }
    .callback_box,
    blockquote {
        padding: 30px;
    }
    .callback_title br {
        display: none;
    }
    .callback_info {
        margin-right: 25px;
    } 
    .example_item span br {
        display: none;
    }
    .example_item {
        width: 100%;
        padding: 20px;
    }
    .button-more {
        display: none !important;
    }
    .example_bottom-title {
        font-size: var(--font_size_title);
    }







    
}
