@media print, (max-width: 1300px) {

    .header_callback {
        margin-left: 120px;
    }
    .course_quote br {
        display: none;
    }
    .course_items {
        padding: 0;
        column-gap: 30px;
    }
    .course_item-top {
        margin-bottom: 10px;
    }
    .example_right:before {
        left: -280px;
    }
    .example_bottom {
        padding: 0;
    }
    .example_bottom-item:nth-child(1):before {
        right: -60px;
    }
    .programm_item ul li {
        font-size: 20px;
        line-height: 26px;
    }
    .programm_item-title {
        font-size: 28px;
    }
    .programm_item ul li span {
        font-size: 22px;
    }
    .internship_item-title,
    .step_item-title {
        font-size: 24px;
    }
    .team_items {
        padding: 0;
    }
    .footer_menu {
        margin-left: 70px;
    }
    .example:before {
        right: 50px;
        top: 45%;
    }





}

